.section-subtitle {
  margin-top: 20px;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}
