.kaufman__triangle {
  position: absolute;
  background-image: url("../../../images/kaufman-triangle.svg");
  background-size: cover;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
  z-index: 1;
  background-repeat: no-repeat;
}
